<nav class="navbar">
  <div class="nav-container">
    <h1>All state management</h1>
    <ul class="nav-links">
      <li><a routerLink="/ngrx" routerLinkActive="active">NGRX</a></li>
      <li><a routerLink="/ngxs" routerLinkActive="active">NGXS</a></li>
      <li><a routerLink="/eif" routerLinkActive="active">EIF</a></li>
      <li><a routerLink="/akita" routerLinkActive="active">Akita</a></li>
      <li><a routerLink="/rxjs" routerLinkActive="active">RxJS</a></li>
      <li><a routerLink="/signal" routerLinkActive="active">Signal</a></li>
    </ul>
  </div>
</nav>
<div class="pt-20">

  <router-outlet />
</div>
